<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Hasło</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Hasło zmienione!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>Wystąpił błąd!</strong> Hasło nie może być zmienione.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Hasło i powtórzone hasło się nie zgadzają!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="password">Nowe hasło</label>
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                    placeholder="*****"
                           [(ngModel)]="password" minlength=4 maxlength=50 required>
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.required">
                            Hasło jest wymagane.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.minlength">
                            Hasło musi mieć co najmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.maxlength">
                            Hasło nie może mieć więcej niż 50 znaków.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Powtórz hasło</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="*****"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required">
                            Potórzone hasło jest wymagane.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength">
                            Powtórzone hasło musi mieć co najmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength">
                            Powtórzone hasło nie może mieć więcej niż 50 znaków.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</div>
