.transactions-history-table {
    width: 90%;
    border: 1px solid black;
}

.transactions-history-row {
    border: 1px solid black;
}

.transactions-history-value-row {
    background-color: #f2f2f2;
}
