<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Rejestracja</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Zarejestrowano!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Rejestracja nieudana!</strong> Spróbuj ponownie później.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Nazwa użytkownika jest już zajęta</strong> Wybierz inną.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Ten e-mail jest już zarejestrowany!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Hasła się nie zgadzają!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Nazwa użytkownika</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="jan.kowalski"
                            required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Nazwa użytkownika jest wymagana.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            Nazwa użytkownika musi mieć co najmniej jeden znak.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Nazwa użytkownika nie może być dłuższa niż 50 znaków.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Twoja nazwa użytkownika może zawierać tylko małe litery i cyfry.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="jan.kowalski@wp.pl"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            E-mail jest wymagany.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Niepoprawny e-mail
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            Adres e-mail musi mieć co najmniej 5 znaków.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            YAdres e-mail nie może miec więcej niż 100 znaków.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Hasło</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="*****"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            Hasło jest wymagane.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            Hasło musi mieć co najmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Hasło nie może być dłuższe niż 50 znaków.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Powtórz hasło</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="*****"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Hasło potwierdzające jest wymagane.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Hasło potwierdzające musi zawierać co najmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Hasło potwierdzające nie może być dłuższe niż 50 znaków.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Zarejestruj</button>
            </form>
        </div>
    </div>
</div>
