<div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 style="font: 3rem arial;">Kursy walut</h2>
        </div>
    </div>
    <div class="row" style="padding: 1rem">
        <table class="exchange-rates-table">
            <tr>
                <th>KOD</th>
                <th>Chcę kupić</th>
                <th>Chcę sprzedać</th>
            </tr>
            <tr *ngFor='let value of values; let rowIndex = index;' class="{{getClass(rowIndex)}}">
                <td class="exchange-rates-row">{{value.code}}</td>
                <td class="exchange-rates-row">{{value.rates[0].ask}}</td>
                <td class="exchange-rates-row">{{value.rates[0].bid}}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <button type="button" class="refresh-button btn btn-primary" (click)="refresh()">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            Odśwież
        </button>
    </div>
</div>
